{% extends 'layout.html' %}
 
{% block mainContent %}
{% if session.username %}
 {% else %}
You are not Register.
{% endif %}

 
{% for row in PART_MASTER %}
 
 
<table class="table table-striped table-dark" style="margin-left: 25%; margin-top: 5%; width: 50%; height: 40%; background-color: rgb(175, 168, 194); border: 6px solid rgb(4, 0, 245);">
  
   <tbody>
      <tr>
      
         <td>
            
         <div  style="margin-bottom: 4%; text-align:left; ">
            Approval Request No.
         </div>
         </td>
         
         <td>
            <div style="border: 2px solid rgb(0, 0, 0); margin-bottom: 7%; text-align: center;">
               {{ new_id }}
            </div>
         </td>
         
       </tr>
     <tr>
      
       
       <td>
            
         <div  style="margin-bottom: 4%; text-align:left;">
            Date/IN TIME
         </div>
         </td>
       <td>
         <div style="border: 2px solid rgb(0, 0, 0); margin-bottom: 7%; text-align: center;">
            {{row["DATE"]}}
         </div>
         </td>
      
     </tr>
     
      

       <td>
            
         <div  style="margin-bottom: 4%; text-align:left;">
            Part No.
         </div>
         </td>
       <td>
         <div style="border: 2px solid rgb(0, 0, 0); margin-bottom: 7%; text-align: center;">
            {{row["PART_NUMBER"]}}

         </div>
      </td>
     
     </tr>
     <tr>
     
      
       <td>
            
         <div  style="margin-bottom: 4%; text-align:left;">
            Part Name
         </div>
         </td>
       <td>
         <div style="border: 2px solid rgb(0, 0, 0); margin-bottom: 7%; text-align: center;">
            {{ session.partid }}

      </div>
      </td>
      
     </tr>
     <tr>
     
      
      <td>
            
         <div  style="margin-bottom: 4%; text-align:left;">
            Operation No.
         </div>
         </td>
      <td>
         <div style="border: 2px solid rgb(0, 0, 0); margin-bottom: 7%; text-align: center;">
            <select  id="operation-numbers" name="select2" multiple >
               {% for row in operation_master %}

               <option value="{{row['OPERATION_ID']}}">            {{row['OPERATION_ID']}}               </option>
               {% endfor %}

              
             </select>      </div>
      </td>
     
    </tr>
    <tr>
     
      
      <td>
            
         <div  style="margin-bottom: 4%; text-align:left;">
            Operation Name
         </div>
         </td>
        <td>
            <div style="border: 2px solid rgb(0, 0, 0); margin-bottom: 7%; text-align: center;">
               <script type="text/javascript">
                  $(document).ready(function() {
                    $('#operation-numbers').change(function() {
                      var select2 = $(this).val();
                      console.log(select2); // Debug code

                      $.ajax({
                        url: '/dashboard',
                        type: 'POST',
                        data: {selected_options: select2},
                        success: function(response) {
                          $('#operation_names').text(response);
                        }
                      });
                    });
                  })
                  </script>
               <div id="operation_names"></div>
    </div>
         </td>
     
    </tr>
    <tr>
     
    
      <td>
            
         <div  style="margin-bottom: 4%; text-align:left;">
            Section Code
         </div>
         </td>
         <td>
            <div style="border: 2px solid rgb(0, 0, 0); margin-bottom: 7%; text-align: center;">
               <select name="cars" id="cars" >
                  {% for row in operation_master %}
   
                  <option value="volvo">            {{row["SECTION_CODE"]}}               </option>
                  {% endfor %}
   
                 
                </select>      </div>
         </td>
     
    </tr>
    <tr>
     
      
      <td>
            
         <div  style="margin-bottom: 4%; text-align:left;">
          Machine No.
         </div>
         </td>
         <td>
            <div style="border: 2px solid rgb(0, 0, 0); margin-bottom: 7%; text-align: center;">
               <select name="cars" id="cars" multiple multiselect-search="true" >
                  {% for row in operation_master %}
   
                  <option value="volvo">            {{row["MACHINE_NO."]}}               </option>
                  {% endfor %}
   
                 
                </select>      </div>
         </td>
      </td>
     
    </tr>
    <tr>
     
    
      <td>
            
         <div  style="margin-bottom: 4%; text-align:left;">
            Approval Request Submit by
         </div>
         </td>
      <td>
         <div style="border: 2px solid rgb(0, 0, 0); margin-bottom: 7%; text-align: center;">
         {{ session.username }}
      </div>
      </td>
     
    </tr>
    <tr>
     
    
      <td>
            
         <div  style="margin-bottom: 4%; text-align:left;">
            Your Priority/Comment
         </div>
         </td>
      <td>
         <div style="border: 2px solid rgb(0, 0, 0); margin-bottom: 7%; text-align: center;">
            {{ session.comment }}
      </div>
      </td>
     
    </tr>
   </tbody>
 </table>


   

 {% endfor %}
 

 
<br>

 <form method="post">
 
 <input type="submit" name="submit"  value="Confirm" style="width: 20%; margin-bottom: 2% ; position:relative;height:50px;display:inline-block; right: -40%; background-color: rgb(87, 174, 201); border: 5px solid rgb(4, 0, 245); border-radius: 5%;"  />

 </form>
  
{% endblock %}

